<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASK01_RegNo : 009</title>
    <link rel="stylesheet" href="blstyle.css">
</head>
<body>
    <header>
        <nav>
            <label class="logo">SathishKumar PRO</label>
            <ul class="navul">
                <li><a href="index.html">Typography</a></li>
                <li><a href="#sample">Sample Page</a></li>
                <li><a href="#contacts">Contact page</a></li>
                <li><a href="#programmers">our shop</a></li>
                <li><a href="#templates">buy this Theme</a></li>
            </ul>
        </nav>
    
    </header>
    <div class="content">
        <div class="top">
            <div class="lcont1">
                <h1>BEST SELLING <br> AUTHOR</h1>
                <p>Samuel Benjamin is a published author,chef,world traveler,photographer
                    and distinguished journalist.Passionate about what he does,his stories
                    will transport you to another time and place.</p>
                <button class="btn">Read More</button>
            </div>
            <div class="rcont1">
                <img src="../images/book5.jpeg" alt="girl">
            </div>
        </div>
        <div class="nav2">
            <ul class="nav2ul">
                <li><a href="book.html">Autography</a></li>
                <li><a href="#sample">Travel</a></li>
                <li><a href="#contacts">Inspirational</a></li>
            </ul>
            <a href="#books" class="nav2a">All books</a>
        </div>
        <div class="imagee">
            <img src="../images/book1.jpeg" alt="book">
            <img src="../images/book2.jpeg" alt="book">
            <img src="../images/book3.jpeg" alt="book">
            <img src="../images/book4.jpeg" alt="book">
        </div>
    </div>
</body>
</html>